.gradient__bg {
   background: rgb(147, 46, 49);
   background: radial-gradient(circle, rgba(147, 46, 49, 1) 0%, rgba(21, 21, 21, 1) 68%);
}

.villains__home {
   display: flex;
   padding: 4rem 6rem;
}

.villains__home-image {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-right: 5rem;
   padding: 1rem 0;
}

.villains__home-image img {
   width: 45%;
   height: 100%;
}

.villains__home-image_gradient {
   flex: 1;
   position: absolute;
   top: 0;
   z-index: -1;
   width: 100%;
   height: 110%;
}

.villains__home-content {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.villains__home-content h1 {
   color: var(--font-color);
   font-family: var(--font-family);
   text-transform: uppercase;
   font-size: 52px;
   line-height: 75px;
   letter-spacing: 0.08em;
   font-weight: 300;
}

.villains__home-content p {
   color: var(--gray-text);
   font-family: var(--font-family);
   font-size: 20px;
   text-transform: capitalize;
   font-weight: 200;
   line-height: 27px;
   letter-spacing: .5px;
}

.villains__home-content button {
   padding: 0.5rem 1rem;
   margin-top: 1rem;
   color: var(--font-color);
   background-color: var(--dark-red);
   font-size: 18px;
   font-weight: 400;
   letter-spacing: .5px;
   line-height: 25px;
   border: none;
   outline: none;
   cursor: pointer;
   border-radius: 5px;
}

@media screen and (max-width: 1050px) {
   .villains__home {
      flex-direction: column;
   }

   .villains__home-image {
      margin-right: 0;
      padding: 1rem 1rem 0;
   }


   .villains__home-content {
      margin: 5rem 0;

   }

}

@media screen and (max-width: 700px) {
   .villains__home {
      padding: 2rem 4rem 4rem;
   }

   .villains__home-content {
      margin: 4rem 0;

   }

   .villains__home-image img {
      width: 60%;
   }

   .villains__home-content h1 {
      font-size: 45px;
      line-height: 60px;
   }

   .villains__home-content p,
   .villains__home-content button {
      font-size: 18px;
      line-height: 24px;
   }

}

@media screen and (max-width: 550px) {
   .villains__home {
      padding: 1rem 4rem 4rem;
   }

   .villains__home-content {
      margin: 3rem 0;

   }

   .villains__home-content h1 {
      font-size: 36px;
      line-height: 48px;
   }

   .villains__home-content p,
   .villains__home-content button {
      font-size: 14px;
      line-height: 24px;
   }
}