.home{
   width: 100%;
   height: 100%;
   padding: 8vh 0;
   display: flex;
   justify-content: space-between;

}

.home--img-div{
   width: 40vw;
   display: flex;
   align-items: center;
}

.home--img-eye{
   position: relative;
   width: 30vw;
   height: 30vw;
   margin-left: 5vw;
   background-color: rgb(221, 221, 221);
   box-shadow: 0px 10px 10px 10px black;
   border-radius: 2% 95% 1% 80%;
   transform: rotate(-30deg);
}


.home--img{
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* align-self:center; */
   width: 20vw;
   animation: rotateEye 5s infinite linear;
}
@keyframes rotateEye {
   0%{
      transform: translate(-50%) rotate(0deg);
   }
   100%{
      transform: translate(-50%) rotate(360deg);
   }
}
.home--h-div{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.home--h2{
   font-size: 4em;
   line-height: 2px;
}
.home--h3{
   line-height: 2px;
}