.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.nav--ul {
   text-transform: capitalize;
   display: flex;
   align-items: center;
}

.nav--h1 {
   font-size: var(--h2-font-size);
}

.nav--ul li {}

.nav--ul li a {
   color: var(--white);
}