:root {
   --dark: #252423;
   --white: #f6f4f2
}

* {
}

a {
   text-decoration: none;
}

body {
   box-sizing: border-box;
   margin: 0;
   font-family: 'Lato', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: var(--dark);
   color: var(--white);
   padding: 0 10vw;
}