:root {
   --header-height: 4.3rem;
   /*?============== Colors==============*/
   --dark: #252423;
   --white: #f6f4f2;
   /*?============== Font ===============*/
   --body-font: 'Lato', sans-serif;
   --biggest-font-size: 2rem;
   --h2-font-size: 5rem;
   --h3-font-size: 2.125rem;
   --normal-font-size: 1.938rem;
   --small-font-size: 1.813rem;
   --smaller-font-size: 1.75rem;
   /*?============ Margins =============*/
   --mb-0-5: .5rem;
   --mb-0-75: .75rem;
   --mb-1: 1rem;
   --mb-1-5: 1.5rem;
   --mb-2: 2rem;
}

@media screen and (min-width: 968px) {
   :root {
      --biggest-font-size: 3rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
   }
}

/*?=============== BASE ===============*/
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   box-sizing: border-box;
   margin: 0;
   font-family: var(--body-font);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: var(--dark);
   color: var(--white);

   display: flex;
   align-items: center;
   justify-content: center;
}

h1,
h2,
h3 {
   font-weight: var(--font-semi-bold);
   color: var(--title-color);
   line-height: 1.5;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

.section {
   padding: 4rem 0 1rem;
}

.container {
   max-width: 968px;
   margin-left: var(--mb-1-5);
   margin-right: var(--mb-1-5);
}